<html>
	<head>
		<title>Bitly Alternative</title>
	</head>
	<body>
		{% for message in get_flashed_messages() %}
  		<p style="color: red;">{{ message }}</p>
		{% endfor %}
		<h2>Login User: {{ context.user_email|title }}</h2>
		<form action={{ url_for('shorten_url') }} method='POST'>
			<input name='long_url' placeholder="Long Url" type='text'>
			<input value='Shorten!' type='submit'>
		</form>
		<form action={{ url_for('login') }} method='POST' 
					style='display: inline-block;'>
			<input name='email' placeholder='Email' type='text'>
			<input name='password' placeholder='Password' type='text'>
			<input value='Login' type='submit'>
		</form>
		<form action={{ url_for('reports') }} method='GET' 
					style='display: inline-block;'>
			<input value='Get Reports' type='submit'>
		</form>
		<form action={{ url_for('logout') }} method='GET' 
					style='display: inline-block;'>
			<input value='Logout' type='submit'>
		</form>
		<form action={{ url_for('register') }} method='POST'>
			<input name='email' placeholder='Email' type='text'>
			<input name='password' placeholder='Password' type='text'>
			<input value='register' type='submit'>
		</form>
	</body>
</html>
